

.page{
    /*background-color: #00000022;*/
    height: 100%;
    width: available;

}
.page-container{
    display: flex;
    height: inherit;
    width: inherit;
}

/*Post page css rules*/
.my-post{
    position: absolute;
    width: 700px;
    max-width: 700px;
    height: 500px;
    max-height: 500px;
    background-color: #1F013D66;
    border-radius: 30px;
    box-shadow: 0 2px 8px -2px #5A2F5866;
    overflow: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
}


.my-post .my-post-header{
    border-radius: 25px 25px 0 0;
    display: flex;
    width: 100%;
    padding: 2px 0;
    justify-content: center;
    background-color: #00000033;
}

.my-post-header img{
    height: 50px;
    width: 50px;

    filter: invert(37%) sepia(24%) saturate(3742%) hue-rotate(274deg) brightness(96%) contrast(87%);
    opacity: .9;
}
.post{
    margin: 50px;
    background-color: #04003388;
    padding: 0;
    border-radius: 25px;
    box-shadow: 0 2px 8px -2px #1F013Ddd;
}
.left{
    display: flex;
    align-items: center;
    gap: 14px;
}
.post-options ul{
    display: flex;
    list-style-type: none;
    margin-right: 12px;
    gap: 5px;
    filter: invert(15%) sepia(65%) saturate(3150%) hue-rotate(282deg) brightness(97%) contrast(102%);}

.post-options ul img{
    cursor: pointer;

}
.posts .user-info{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post .content{
    background-color: #04003388;
    padding: 20px;
    width: inherit;
    border-radius: 0 0 20px 20px;
    color: #FB6FE2b7;
}
.posts-pro-img{
    width: 35px;
    height: 35px;
    margin-left: 20px;
    border-radius: 50%;
}

.my-post{
    max-height: 700px!important;
    overflow: scroll;
}
.my-post-body {
    max-height: 700px!important;
    overflow: scroll;
}

.edit-container{
    width: 700px;
    max-width: 400px;
    height: 500px;
    max-height: 500px;
    background-color: #1F013D66;
    border-radius: 30px;
    box-shadow: 0 2px 8px -2px #5A2F5866;
    overflow: scroll;
    scrollbar-width: none;
    position: absolute;
    top: 80px;
    right: 100px;
    display: flex;
    flex-direction: column;
}

.edit-header{
    border-radius: 25px 25px 0 0;
    display: flex;
    width: 100%;
    padding: 2px 0;
    justify-content: center;
    background-color: #00000033;
}
.edit-header img{
    height: 45px;
    width: 45px;
    filter: invert(37%) sepia(24%) saturate(3742%) hue-rotate(274deg) brightness(96%) contrast(87%);
    opacity: .9;
}

.edit-body{
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.edit-body .content-box{
    height: 325px;
    width: 100%;
    background-color: #04003355;
    padding: 20px;
    border: none;
    border-radius: 25px;
    resize: none;
    color: #FB6FE2bb;
    font-size: 1.3em;
    overflow: scroll;
    scrollbar-width: none;
    backdrop-filter: blur(3px);
}
.edit-body .edit-send{
    border: none;
    margin-top: 25px;
    width: 100%;
    height: 58px;
    border-radius: 25px;
    background: linear-gradient(#991789bb, #5C1693bb);
    backdrop-filter: blur(2px);
    color: #2B0548;
    font-weight: bolder;
}

.hide{
    display: none;
}






