.threads-container{
    display: flex;
    width: 1200px;
    height: 800px;
}
.threads{
    width: 330px;
    height: 550px;

    max-width: 700px;
    max-height: 550px;
    background-color: #1F013D66;
    border-radius: 30px;
    box-shadow: 0 2px 8px -2px #5A2F5866;
    overflow: hidden;
}

.threads .threads-header{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #00000033;
    border-radius: 30px 30px 0 0;
}
.threads-header img{
    height: 45px;
    width: 45px;
    filter: invert(37%) sepia(24%) saturate(3742%) hue-rotate(274deg) brightness(96%) contrast(87%);
    opacity: .9;
}

.post-to-thread{
    position: absolute;
    top: 74px;
    right: 69px;
    width: 800px;
    height: 550px;
    padding: 25px;
    background-color: #1F013D66;
    border-radius: 30px;
    box-shadow: 0 2px 8px -2px #5A2F5866;
}
.thread-posts{
    width: 100%;
    height: 400px;
    background-color: #04003333;
    border-radius: 30px;
}

.thread{
    padding: 0 20px;
    display: flex;
    gap: 8px;
    align-items: center;
    height: 70px;
    width: 100%;
    background: linear-gradient(#1F013D88, #2B054899);
    justify-content: space-between;
}
.thread:hover{
    cursor: pointer;
    background: linear-gradient(#1F0D8822, #5A2F5855);
}
.thread img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.thread h5{
    font-size: 1.2em;
}

.add-post img{
    height: 35px;
    width: 35px;
    filter: invert(23%) sepia(100%) saturate(2077%) hue-rotate(285deg) brightness(88%) contrast(82%);
    opacity: .9;
}
.add-post img:hover{
    filter: invert(25%) sepia(87%) saturate(3297%) hue-rotate(281deg) brightness(97%) contrast(122%);
}

.thread-send-post{
    margin-top: 30px;
    width: 100%;
    height: 50px;
    background-color: red;
    border-radius: 30px;
}