.threads-container{
    display: flex;
    width: 1200px;
    height: 800px;
}
.threads{
    width: 330px;
    height: 550px;

    max-width: 700px;
    max-height: 550px;
    background-color: #1F013D33;
    border-radius: 30px;
    box-shadow: 0 2px 8px -2px #5A2F5866;
    overflow: hidden;
}

.threads .threads-header{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #00000033;
    border-radius: 30px 30px 0 0;
}
.threads-header img{
    height: 45px;
    width: 45px;
    filter: invert(37%) sepia(24%) saturate(3742%) hue-rotate(274deg) brightness(96%) contrast(87%);
    opacity: .9;
}

.post-to-thread{
    position: absolute;
    top: 74px;
    right: 69px;
    width: 800px;
    height: 550px;
    padding: 25px;
    background-color: #1F013D66;
    border-radius: 30px;
    box-shadow: 0 2px 8px -2px #5A2F5866;
}
.thread-posts{
    width: 100%;
    height: 400px;
    max-height: 400px;
    overflow: scroll;
    background-color: #04003333;
    border-radius: 30px;
}

.thread{
    padding: 0 20px;
    display: flex;
    gap: 8px;
    align-items: center;
    height: 70px;
    width: 100%;
    background: linear-gradient(#1F013D88, #2B054899);
    justify-content: space-between;
}
.thread:hover{
    cursor: pointer;
    background: linear-gradient(#1F0D8822, #5A2F5855);
}
.thread img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.thread h5{
    font-size: 1.2em;
}

.add-post img{
    height: 35px;
    width: 35px;
    filter: invert(23%) sepia(100%) saturate(2077%) hue-rotate(285deg) brightness(88%) contrast(82%);
    opacity: .9;
}
.add-post img:hover{
    filter: invert(25%) sepia(87%) saturate(3297%) hue-rotate(281deg) brightness(97%) contrast(122%);
}

.thread-send-post{
    padding: 5px 10px;
    display: flex;
    margin-top: 30px;
    width: 100%;
    height: 50px;
    background-color: #04003366;
    border-radius: 30px;
    align-items: center;
}

.thread-send-post input{
    height: 40px;
    width: 80%;
    border-radius: 30px 0 0 30px;
    border: none;
    padding: 5px 20px;
    background-color: #1F013Dbb;
    font-size: 1.2em;
    color: #FB6FE2aa;
}
.thread-send-post button{
    height: 40px;
    width: 20%;
    border-radius: 0 30px 30px 0;
    border:none;
    color: #040033aa;
    background: linear-gradient(#991789bb, #5C1693bb);
}

.thread-send-post button:hover{
    cursor:pointer;
    background: linear-gradient(#99178933, #5C169333);
    color: #FB6FE255;
}

.thread-posts{
    padding: 40px;
}

.thread-post{
    margin: 50px;
    background-color: #04003388;
    padding: 0;
    border-radius: 25px;
    box-shadow: 0 2px 8px -2px #1F013Ddd;
}
.user-info{
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: #040033e7;
    border-radius: 30px 30px 0 0;
    align-items: center;
}
.user-info img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.thread-posts-content{
    padding: 20px;
    color: #FB6FE2cc;
}

.make-thread-background{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 80vw;
    height: 90vh;
}

.make-thread{
    position: absolute;
    top: 635px;
    left: 100px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    border-radius: 25px;
}
.threads-header img:hover{
    cursor: pointer;
}
.make-thread input{
    border: none;
    background-color: #1F013Dbb;
    font-size: .92em;
    color: #FB6FE2aa;
    padding: 5px 15px;
    width: 70%;
    height: 40px;
}
.make-thread button{
    border: none;
    height: 40px;
    color: #040033aa;
    background: linear-gradient(#991789bb, #5C1693bb);
}

.make-thread .exit{
    font-size: 1em;
    font-weight: bolder;
    width: 10%;
    color: #04003355!important;
    border-radius: 25px 0 0 25px;
}
.make-thread .make-thread-button{
    width: 20%;
    border-radius: 0 25px 25px 0;
}

.make-thread button:hover{
    cursor:pointer;
    background: linear-gradient(#99178933, #5C169333);
    color: #FB6FE255;
}
