@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #040033;
}
header{
    max-width: 356px;
    padding: 0;
    margin: 0;
}
nav{
    font-family: 'Source Sans Pro', sans-serif;
    box-shadow: 0 2px 8px -2px #FA8CFCaa;
    justify-content: space-between;
    background-color: #060043dd;
    display: flex;
    width: 75px;
    height: 100vh;
    gap: 10em;
}

nav{
    position: relative;
    flex-direction: column;
    color: white;
    align-items: center;
}

nav ul{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
nav .profile-picture-wrapper{
    display: flex;
    justify-content: center;
}
nav .profile-picture{
    position: absolute;
    top: 40px;
    left: 9px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 0 2px 10px -2px #FA8CFCaa;
}

nav .nav-img{
    width: 30px;
    height: 30px;
    filter: invert(31%) sepia(30%) saturate(3875%) hue-rotate(252deg) brightness(89%) contrast(86%);
}
nav .nav-img:hover{
    filter: invert(13%) sepia(76%) saturate(3537%) hue-rotate(266deg) brightness(115%) contrast(107%);
}
nav section{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 100%;
    justify-content: center;
}

nav section ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 10px;
}

nav ul button{
    font-family: 'Press Start 2P', cursive;
    font-weight: lighter;
    color: #FB6FE2bb;
    font-size: 2em;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
nav ul button:hover{
    color: #5A2F58;
}

.nav-profile-section{
}
.nav-main-links{
}

.item{
    flex: 2 1 auto;
}

.selected{
    filter: invert(37%) sepia(24%) saturate(3742%) hue-rotate(274deg) brightness(96%) contrast(87%)!important;
    width: 35px!important;
    height: 35px!important;
}