footer{
    padding: 25px 50px;
    position: fixed;
    bottom: 0;
    left: 0;
}

footer{
    display: flex;
    align-items: center;
    align-content: center;
    background-color: #000000;
    width: 100vw;
}

footer .text-input{
    width: 300px;
    height: 30px;
    border: #1F013D solid 1px;
    border-radius: 25px;
    background-color: #1F013Dbb;
    padding: 0px 10px;

}

footer input{
    margin-right: 10px;
    width: 100px;
    height: 30px;
    background-color: transparent;
    border: #B535AF solid 1px;
    border-radius: 20px;
    color: #B535AF;
    cursor: pointer;
}
