@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #040033;
}
nav{
    font-family: 'Source Sans Pro', sans-serif;
    box-shadow: 0 2px 8px -2px #FA8CFCaa;
    justify-content: space-between;
    background-color: #060043dd;
    padding: 27px 50px;
    display: flex;
    width: 356px;
    height: 100vh;
    gap: 10em;

}
nav ul{
    display: flex;

}
nav li a{
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    font-size: 1.2em;
    color: #7D1469;
}
nav li a:hover{
    text-decoration-thickness: .15em!important;
    text-decoration-color: #B535AF!important;
    text-decoration: underline;
    color: #5A2F58;
}
nav #nav-icon a{
    font-family: 'Press Start 2P', cursive;
    font-weight: 600;
    color: #FB6FE2;
    text-decoration: none;
}