*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    height: 100%;
    background: url("../../imgs/aesthetic backgroun.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(20px);
}

.global-state-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 8px -2px #FA8CFCaa;
}

.global-state-container .root-container{
    height: 710px;
    width: 990px;
    background-color: #040033bb;
    border-radius: 4px;
    backdrop-filter: blur(90px);
    box-shadow: 0 2px 8px -2px #FA8CFCaa;
}


