<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>cryptomami - crypto forum of the future </title>
		
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, width=device-width">
		
		<link rel="stylesheet" href="/css/forum/forum-nav.css">
		<link rel="stylesheet" href="/css/forum/forum-body.css">
		<link rel="stylesheet" href="/css/forum/forum-reply.css">
		<link rel="stylesheet" href="/css/forum/forum-footer.css">
		<link rel="stylesheet" href="/css/forum/pages/pages.css">
		
		<script src="https://code.jquery.com/jquery-3.6.1.js"
		        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
		        crossorigin="anonymous"></script>
			
		
        <!-- changes the dashboard state depending on currently selected nav item-->
		
	</head>
	
	<body>
		<header>
			<nav class="main-nav">
				<h2 id="nav-icon"></h2>
				
				<section class="nav-profile-section item">
					<div class="profile-picture-wrapper ">
						<img class="profile-picture" th:src="${user.getProfileImg()}" alt="">
					</div>
				</section>
				
				<section class="nav-main-links item">
					<ul>
						<li><button class="home-button"><img class="nav-img" src="/imgs/svg/home.svg" alt="home page"></button></li>
						<li><button class="settings-button"><img class="nav-img" src="/imgs/svg/settings.svg" alt="settings page"></button></li>
						<li><button class="posts-button"><img class="nav-img"  src="/imgs/svg/camera-icon.png" alt="threads page"></button></li>
						<li><button class="threads-button"><img class="nav-img" src="/imgs/svg/posts.svg" alt="posts page"></button></li>
						<li><button class="stats-button"><img class="nav-img" src="/imgs/svg/stats.svg" alt="stats page"></button></li>
					</ul>
				</section>
			</nav>
		
		</header>
		
		<main class="global-state-container">
				<section class="root-container">
					
					<section class="home page inactive" style="color: white ">
						<div class="page-container"></div>
					</section>
					
					<section class="settings page inactive"  style="color: white">
						<div class="page-container"></div>
					</section>
					
					<section class="threads page inactive" style="color: white">
						<div class="page-container"></div>
					</section>
					
					<section class="posts page inactive" style="color: white">
						<div class="page-container">
							<div class="my-post">
								<div class="my-post-header">
									<div class="img-container">
										<img src="/imgs/svg/camera-icon.png" alt="">
									</div>
									
								</div>
								<div class="my-post-body">
									<div th:each="post : ${allposts}">
										<div class="post" th:data-id="${post.getId()}">
											<div class="user-info">
												<div class="left">
													<img class="posts-pro-img" th:src="${post.getUser().getProfileImg()}" alt="user image">
													<h4 class="posts-username" th:text="${post.getUser().getUsername()}"></h4>
												</div>
												
												<div class="post-options">
													<ul>
														<li><img class="edit-my-post" src="/imgs/svg/note.png" alt=""></li>
														<li>
															<form th:action="@{/post/delete/__${post.getId()}__}" method="post">
																<img class="destroy-my-post" src="/imgs/svg/delete-fire.png" alt="">
															</form></li>
														
													</ul>
												</div>
											</div>
											
											<div class="content">
												<p th:text="${post.getContent()}"></p>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="edit-container">
								<div class="edit-header">
									<img src="/imgs/svg/edit.png" alt="">
								</div>
								<div class="edit-body">
									<textarea class="content-box" name="" id="" cols="30" rows="10"></textarea>
									
									<button class="edit-send">
										Edit
									</button>
								</div>
							</div>
						</div>
						
					</section>
					
					<section class="stats page inactive" style="color: white">
						<div class=""></div>
					</section>
					
				</section>
		</main>
		
		<script src="/js/forum/reply.js"></script>
		<script src="/js/forum/state-manager/ForumStateManager.js"></script>
		<script src="/js/forum/state-manager/navigation-handler.js"></script>
		<script src="/js/forum/posts.js"></script>
	</body>
</html>