<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>cryptomami - crypto forum of the future </title>
		
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, width=device-width">
		
		<link rel="stylesheet" href="/css/forum/forum-nav.css">
		<link rel="stylesheet" href="/css/forum/forum-body.css">
		<link rel="stylesheet" href="/css/forum/forum-reply.css">
		<link rel="stylesheet" href="/css/forum/forum-footer.css">
		<script src="https://code.jquery.com/jquery-3.6.1.js"
		        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
		        crossorigin="anonymous"></script>
		<script src="/js/reply.js"></script>
	</head>
	<body>
	
		<header th:replace="forum/partials :: forum-navbar-partial-lo"></header>
		
		<main class="global-state-container">
				<section class="root-container"></section>
		</main>
	</body>
</html>