<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<!--
    Creator: Deshawn Marquis, Williams
    Github Profile: https://github.com/MarquisTheCoder
    Date Created: 11/25/22
    Time Created: 9:40 PM
    File Name: forum-partials.html
    -->
	<head>
		
		<title>cryptotribe</title>
		
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, width=device-width">

	</head>

	<body>
		<header  th:fragment="forum-navbar-partial-lo">
			<nav class="p-0 m-0 w-25 h-100">
				<h2 id="nav-icon"></h2>
			</nav>
		</header>
	</body>
</html>