<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>cryptomami - crypto forum of the future </title>
		
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, width=device-width">
		
		<link rel="stylesheet" href="/css/forum/forum-nav.css">
		<link rel="stylesheet" href="/css/forum/forum-body.css">
		<link rel="stylesheet" href="/css/forum/forum-reply.css">
		<link rel="stylesheet" href="/css/forum/forum-footer.css">
		
		<script src="https://code.jquery.com/jquery-3.6.1.js"
		        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
		        crossorigin="anonymous"></script>
			
		
        <!-- changes the dashboard state depending on currently selected nav item-->
		
	</head>
	
	<body>
		<header th:replace="forum/partials :: forum-navbar-partial-lo"></header>
		
		<main class="global-state-container">
				<section class="root-container">
					
					<section class="home page inactive" style="color: white ">
						<h1>Home page</h1>
					</section>
					
					<section class="settings page inactive"  style="color: white">
						<h1>Settings page</h1>
					</section>
					
					<section class="threads page inactive" style="color: white">
						<h1>Threads page</h1>
					</section>
					
					<section class="posts page inactive" style="color: white">
						<h1>Posts page</h1>
					</section>
					
					<section class="stats page inactive" style="color: white">
						<h1>Stats page</h1>
					</section>
					
				</section>
		</main>
		
		<script src="/js/forum/reply.js"></script>
		<script src="/js/forum/state-manager/ForumStateManager.js"></script>
		<script src="/js/forum/state-manager/navigation-handler.js"></script>
	</body>
</html>