<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
	<body>
		<header th:fragment="forum-navbar-partial-lo">
			<nav class="main-nav">
				<h2 id="nav-icon"></h2>
				
				<section class="nav-profile-section item">
					<div class="profile-picture-wrapper ">
						<img class="profile-picture" th:src="${user.}" alt="">
					</div>
				</section>
				
				<section class="nav-main-links item">
					<ul>
						<li><button class="home-button"><img class="nav-img" src="/imgs/svg/home.svg" alt="home page"></button></li>
						<li><button class="settings-button"><img class="nav-img" src="/imgs/svg/settings.svg" alt="settings page"></button></li>
						<li><button class="posts-button"><img class="nav-img" src="/imgs/svg/threads.svg" alt="threads page"></button></li>
						<li><button class="threads-button"><img class="nav-img" src="/imgs/svg/posts.svg" alt="posts page"></button></li>
						<li><button class="stats-button"><img class="nav-img" src="/imgs/svg/stats.svg" alt="stats page"></button></li>
					</ul>
				</section>
			</nav>
			
		</header>
	</body>
</html>