<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
	<body>
		<header th:fragment="forum-navbar-partial-lo">
			<nav class="main-nav">
				<h2 id="nav-icon"></h2>
				
				<section class="nav-profile-section">
					<div class="profile-picture-wrapper">
						<img class="profile-picture" src="https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/dbc1dd99666153.5ef7dbf39ecee.jpg" alt="">
					</div>
				</section>
				
				<section class="nav-main-links">
					<ul>
						<li>Home</li>
						<li>Settings</li>
						<li>Threads</li>
						<li>Post</li>
						<li>Stats</li>
					</ul>
				</section>
			</nav>
			
		</header>
	</body>
</html>