

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Source+Sans+Pro:wght@900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    font-family: 'Source Sans Pro', sans-serif;
}

nav{
    font-family: 'Source Sans Pro', sans-serif;
    justify-content: space-between;
    background: linear-gradient(#060043dd, #06004377);
    backdrop-filter: blur(15px);
    align-content: center;
    align-items: center;
    margin-bottom: 40px;
    padding: 15px 50px;
    display: flex;
    width: 100vw;
}

nav li a{

    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    font-size: 1.5em;
    color: #B535AF77;
}

nav li a:hover{
    text-decoration-thickness: .15em!important;
    text-decoration-color: #B535AF!important;
    text-decoration: underline;
    color: #B535AF93;
}

nav ul{
    justify-content: space-evenly;
    margin-bottom: 0!important;
    list-style-type: none;
    align-items: center;
    display: flex;
    color: white;
    height: 100%;
    width: 100%;
}

nav #nav-icon{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2em;
    font-weight: 900;
    letter-spacing: 2px;
    color: #FB6FE2b7;
}

nav #login-button{
    justify-self: flex-end;
}

#login-button{
    background-color: transparent;
    border: 2px solid #5A2F58;
    padding: 10px 20px;
    border-radius: 10%;
    font-size: 1em;
    color: #FB6FE2;
}

#login-button:hover{
    background-color:#FB6FE2;
    color: #5A2F58;
}



