
.gone{
    display: none!important;
}

.login-modal-background{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000055;
    backdrop-filter: blur(2px);
}

.login-modal-background{
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.form-container{
    color: white;
}

.form-container form{
    z-index: 2;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
