<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--
    Creator: Deshawn Marquis, Williams
    Github Profile: https://github.com/MarquisTheCoder
    Date Created: 12/1/22
    Time Created: 11:06 AM
    File Name: register.html
    -->
<head>
	
	<title>cryptomami - register for the best crypto site on the internet </title>
	
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, width=device-width">
	<link rel="stylesheet" href="/css/forum/forum-nav.css">
	<link rel="stylesheet" href="/css/homepage/navigation/register.css">
</head>
<body>
<header>
</header>
<main>
	<section class="form-container">
		
		<div class="wrong" th:if="${param.error}" >
			Wrong! try again
		</div>
		
		<div class="wrong" th:if="${param.logout}" >
			You've logged out :(
		</div>
		
		<form th:action="@{/login}" th:method="post" >
			<input class="text-input"  type="text" name="username" id="username" placeholder="Username">
			<input class="text-input" type="password" name="password" id="password" placeholder="Password">
			<div class="button-container">
				<input type="submit" value="Login">
			</div>
		</form>
	</section>

</main>
</body>
</html>