*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 100%;
    background: url("../../imgs/aesthetic backgroun.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    height: 100%;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

main section{
    width: 50%;
    min-height: 500px;
    overflow: scroll;
    scrollbar-width: none;
}

.chat{
    background-color: #00000033;
    border-radius: 25px;
    scrollbar-width: none;
    overflow: scroll;
    padding: 25px 50px;
}

.chat-container{
    height: 100%;
    width: 100%;
    min-height: 80%;
    max-height: 500px;
    scrollbar-width: none;
    min-width: 80%;
    overflow: scroll;
}

.chat-container .post{
    min-width: 150px;
    min-height: 120px;
    background-color: #04003366;
    border: #0DB5FF55 solid 1px;
    border-radius: 25px;
    margin-top: 40px;
    padding: 4px 20px;
    color: #0CACEC;
}

.post ul{
    position: relative;
    bottom: 0;
    left: 0;
    display: flex;
    list-style-type: none;
    gap: 20px;
}


.post{
    position: relative;
}

.options{
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.options button{
    background-color: transparent;
    border: #0CACEC solid 0px;
    color: #0CACEC;
    cursor: pointer;
}
.replies{
    border-left: dashed #FB6FE244 2px;
}
.reply{
    margin: 40px 0 0 70px;
    padding: 20px 50px;
    border: #0CACEC solid 1px;
    border-radius: 25px;
    color: #0CACEC;
}
.reply hr{
    color: #0CACEC55;
    height: 1px;
}
.reply h4{
    color: #FB6FE2bb;
    margin-bottom: 5px;
    padding: 4px 10px;
    background-color: #1F013D;
    border-radius: 15px;
}
.reply p{
    margin-top: 10px;
}
