*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 100%;
}

main{
    height: 100%;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

main section{
    width: 50%;
    min-height: 500px;
    overflow: scroll;
    scrollbar-width: none;
}

.chat{
    background-color: #000F5Fbb;
    border-radius: 25px;
    scrollbar-width: none;
    overflow: scroll;
    padding: 25px 50px;
}

.chat-container{
    height: 100%;
    width: 100%;
    min-height: 80%;
    max-height: 500px;
    scrollbar-width: none;
    min-width: 80%;
    overflow: scroll;
}

.chat-container .post{
    min-width: 150px;
    min-height: 120px;
    background-color: #04003366;
    border: #0DB5FF55 solid 1px;
    border-radius: 25px;
    margin-top: 40px;
    padding: 4px 20px;
    color: #0CACEC;
}

.post ul{
    position: relative;
    bottom: 0;
    left: 0;
    display: flex;
    list-style-type: none;
    gap: 20px;
}

footer{
    padding: 25px 50px;
    position: fixed;
    bottom: 0;
    left: 0;
}

footer{
    display: flex;
    align-items: center;
    align-content: center;
}

footer .text-input{
    width: 300px;
    height: 30px;
    border: #1F013D solid 1px;
    border-radius: 25px;
    background-color: #1F013Dbb;
    padding: 0px 10px;

}

footer input{
    margin-right: 10px;
    width: 100px;
    height: 30px;
    background-color: transparent;
    border: #B535AF solid 1px;
    border-radius: 20px;
    color: #B535AF;
    cursor: pointer;
}

.post{
    position: relative;
}

.options{
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.options button{
    background-color: transparent;
    border: #0CACEC solid 0px;
    color: #0CACEC;
    cursor: pointer;
}
